![](https://i.imgur.com/0AUxkXt.png)

# Assignment 1 - The Hacker Rank

HackerRank is a place where programmers from all over the world come together to solve problems in a wide range of Computer Science domains.

As you solve more challenges, you earn points and move up the HackerRank Leaderboard.

Looking for a job at an awesome company? You can get hired by solving [challenges](https://www.hackerrank.com/jobs/search)!

It's cool. Let's establish your knowledge and fight for glory!

But before that let's make it clear that..

## Note-taking is IMPORTANT

Blog: [Why is note-taking important](https://nickblackbourn.com/blog/why-is-note-taking-important/)

Note taking isn’t just important for college students, it’s a valuable life skill.

Effective note taking helps you to remember information and aids your understanding of that information. 

**Notes boost your understanding**

By making notes, you force yourself to construct a conceptual mental representation of the ideas you are grappling with. It is this process that helps you comprehend the subject matter you are working with.

**Notes are a repository of your thinking**

When you need to recall something that you came across a while ago, you can go over the main ideas by looking over your notes. This is why good, comprehensive notes are so useful; they are a catalogue of the best ideas you’ve encountered, and what you thought about them.

etc.

## Requirements

Pick 10 challenges on HackerRank about SQL and 5 about Python in **easy** level:

[HackerRank - Domain SQL](https://www.hackerrank.com/domains/sql?filters%5Bdifficulty%5D%5B%5D=easy&filters%5Bsubdomains%5D%5B%5D=select)

[HackerRank - Domain Python](https://www.hackerrank.com/domains/python?filters%5Bdifficulty%5D%5B%5D=easy)

For each challenge:

* Create a markdown cell first that describes the challenge.
* Solve the challenge on HackerRank and copy your solution to a code cell below
* (Optional) A short description about how you came up with the solution would be awesome.

## Example

### SQL


#### Problem 1

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT * from city WHERE population>100000 AND countrycode='USA';

### Python

#### Problem 1

**Task** 
Given an integer, , perform the following conditional actions:

* If `n` is odd, print *Weird*
* If `n` is even and in the inclusive range of 2 to 5, print *Not Weird*
* If `n` is even and in the inclusive range of 6 to 20, print *Weird*
* If `n` is even and greater than 20, print *Not Weird*

**Input Format**

A single line containing a positive integer, .

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

In [0]:
n = int(input())

if n % 2 == 1:
    print('Weird')
else:
    if (n >= 2) and (n <= 5):
        print('Not Weird')
    elif (n >= 6) and (n <= 20):
        print('Weird')
    else:
        print('Not Weird')

## Your turn

Good luck and have fun!

**SQL**

#### Problem 1

Query the names of all American cities in **CITY** with populations larger than 120000. The CountryCode for America is USA. 

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
select NAME from CITY where COUNTRYCODE = 'USA' and POPULATION > 120000;

#### Problem 2

Query all columns(attributes) for everyrow in **CITY** table

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
select * from CITY;

#### Problem 3

Query all columns for a city in **CITY** with the ID 1661

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
select * from CITY where ID = 1661;

#### Problem 4

Query all attributes of every japanese in the **CITY** table. The COUNTRYCODE for japan is JPN

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
select * from CITY where COUNTRYCODE = 'JPN';

#### Problem 5

Query a list of CITY and STATE in **STATION** table

**Input Format**

The **STATION** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
select CITY, STATE from STATION;

#### Problem 6

Query a list of CITY names from **STATION** table with even ID number only. You may print results in any order, but must exclude duplicates from your answer

**Input Format**

The **STATION** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
/*Oracle support function mod instead of % operation. I use oracle only because it is default environment*/
select distinct(CITY) from STATION where MOD(ID,2) = 0;

#### Problem 7

Let **N** be the number of CITY entries in STATION, and let **N'** be the number of distinct CITY names in STATION; query the value of **N - N'** from STATION. In other words, find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

**Input Format**

The **STATION** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
select count(CITY) - count(distinct(CITY)) from STATION;

#### Problem 8

Query the two cities in **STATION** with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

**Input Format**

The **STATION** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
/*
Oracle does not have limit like sql
ROWNUM is like limit but not in the exact order i expect
So i apply in the exact order i want to limit in nested query
*/
select CITY, length(CITY)
from  
( select *
  from STATION 
  order by length(CITY), CITY) 
where ROWNUM <= 1;

select CITY, length(CITY)
from  
( select *
  from STATION 
  order by length(CITY) DESC, CITY) 
where ROWNUM <= 1;

#### Problem 9

Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from **STATION**. Your result cannot contain duplicates.

**Input Format**

The **STATION** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
/*
Can use or but regex will simplify the query a lot
*/
select distinct(CITY) from STATION where REGEXP_LIKE(LOWER(CITY),'^[aeiou].');

#### Problem 10

Query the list of CITY names ending with vowels (a, e, i, o, u) from **STATION**. Your result cannot contain duplicates.

**Input Format**

The **STATION** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(21) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_W | NUMBER |

In [0]:
/*
Same as above
*/
SELECT DISTINCT(CITY) FROM STATION WHERE REGEXP_LIKE(LOWER(CITY), '.[aeiou]$') ORDER BY CITY;

**PYTHON**

#### Problem 1

Read an **N**  integer


Without using any string methods, try to print the following:
**123...N**

Note that "..." represents the values in between.

**Input Format**

The first line contains an integer **N**


**Output Format**

Output the answer as explained in the task.

In [0]:
if __name__ == '__main__':
    n = int(input())
    for i in range(1, n+1):
        print(i, end='')

####Problem 2
Let's learn about list comprehensions! You are given three integers **X, Y and Z** and representing the dimensions of a cuboid along with an integer **N**. You have to print a list of all possible coordinates given by (i,j,k) on a 3D grid where the sum of i +j +k is not equal to **N**. Here, 0<=i<=X; 0<=j<=Y; 0<=k<=Z

**Input Format**

Four integers **X, Y, Z and N** each on four separate lines, respectively.

**Constraints**

Print the list in lexicographic increasing order.

In [0]:
# The solution is already in the explanation part in the problem statement
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    print ([ [ i, j, k] for i in range( x + 1) for j in range( y + 1) for k in range( z + 1) if (  (i + j + k)  != n ) ])

####Problem 3
Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given **n** scores. Store them in a list and find the score of the runner-up.

**Input Format**

The first line contains n. The second line contains an array **A**[] of **n**

integers each separated by a space.

**Constraints**
2<=n<=10
-10<=A[i]<=100

**Output Format**

Print the runner-up score.

In [0]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())

    # remove duplicated in the list by using set()
    arr = list(set(arr))
    # runner up so second last element if we sort ascending
    print(sorted(arr)[-2])

####Problem 4
Given the names and grades for each student in a Physics class of **N** students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

**Note**: If there are multiple students with the same grade, order their names alphabetically and print each name on a new line.

**Input Format**

The first line contains an integer, **N**, the number of students.
The **2N** subsequent lines describe each student over **2** lines; the first line contains a student's name, and the second line contains their grade.

**Constraints**

2<=N<=5

There will always be one or more students having the second lowest grade. 

**Output Format**

Print the name(s) of any student(s) having the second lowest grade in Physics; if there are multiple students, order their names alphabetically and print each one on a new line.

In [0]:
def duplicates(lst, item): # this function return the index of dulicate element
    return [i for i, val in enumerate(lst) if val[1] == item]

if __name__ == '__main__':
    main_list = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        child_list = []
        child_list.append(name)
        child_list.append(score)
        main_list.append(child_list)
    
    # sort the list with the score
    sorted_score = sorted(main_list, key=lambda arr:arr[1])

    
    # return index of duplicated second lowest score which is second element
    # using set will return arbitrary order, i want to contain the same order
    # using ordered dict. In python 3.5, import ordered dict library
    indexes = duplicates(sorted_score, list(dict.fromkeys([i[1] for i in sorted_score]))[1])

    # sublist, sort with the name then print:
    sorted_name = sorted([sorted_score[i] for i in indexes], key=lambda arr:arr[0])

    for i in sorted_name:
        print(i[0])

####Problem 5
You are given a string **S** .
Your task is to find out whether **S** is a valid regex or not.

**Input Format**

The first line contains integer **T**, the number of test cases.
The next lines **T** contains the string **S**

**Constraints**

0<=T<=100

**Output Format**

Print "True" or "False" for each test case without quotes.

In [0]:
# Simple, just use re built-in library of python
# Try catch the compile process of the expression
# Can compile mean that expression is valid otherwise invalid

import re

number_of_test = int(input())

for i in range(number_of_test):
    try:
        re.compile(input())
        print("True")
    except:
        print("False")